# ===== Angular =====
node_modules/
dist/
.angular/
coverage/
*.log

# ===== Spring Boot / Maven =====
target/
*.jar
*.war
*.class

# ===== VS Code =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment =====
.env